In [1]:
import pandas as pd
import os
import numpy as np
from datetime import datetime
import pyarrow
import fastparquet
import boto3

In [2]:
csv_path = 's3://s3-raw-dadosmaistodos/laptop_data_source/california_housing_train_2022-12-16.csv'
sep=','

In [3]:
client = boto3.client('s3')

In [4]:
df = pd.read_csv(csv_path, sep=sep)

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [6]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
# Qual a coluna com maior desvio padr√£o?

In [8]:
df_2 = df.describe()

In [ ]:
df_2

In [9]:
df_2.loc['std':'std']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
std,2.005166,2.13734,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387

In [10]:
max(df_2.loc['std':'std'].values.tolist()[0])

115983.76438720913

In [ ]:
# Qual valor m√≠nimo e o m√°ximo?

In [11]:
df_min = min(df_2.loc['min':'min'].values.tolist()[0])

In [12]:
df_max = max(df_2.loc['max':'max'].values.tolist()[0])

In [13]:
df_min

-124.35

In [14]:
df_max

500001.0

In [ ]:
# Read final parquet

In [52]:
parquet = "s3://s3-curated-dadosmaistodos/laptop_data_source/california_housing_train_curated_2022-12-16.parquet"

In [53]:
client = boto3.client('s3')

In [54]:
df = pd.read_parquet(parquet)

In [55]:
df

                               S_population  m_median_house_value
age         california_region
acima_37    sul                   2519076.0         227694.827766
ate_29      sul                   3905630.0         220571.658462
acima_37    norte                 2114160.0         217732.956241
ate_37      sul                   3435282.0         212266.993286
de_0_ate_18 sul                   4157987.0         209407.565043
ate_37      norte                 1792950.0         195766.603215
ate_29      norte                 3107411.0         188724.023810
de_0_ate_18 norte                 3270261.0         177826.697686

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('acima_37', 'sul') to ('de_0_ate_18', 'norte')
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S_population          8 non-null      float64
 1   m_median_house_value  8 non-null      float64
dtypes: float64(2)
memory usage: 590.0+ bytes